// Define variables for your color scheme

// Basics:
$red: #D31A41;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Customs:
$dark_green: #3D6658;
$light_green: #9EBCA0;
$white: #F2F0E1;
$black: rgb(10,10,10)
