<div class="footer">
  <p><i class="fa fa-github" aria-hidden="true"></i> <%= link_to 'Reka', 'https://github.com/Reka85', target: '_blank' %>, <%= link_to 'Louis', 'https://github.com/louismathe', target: '_blank' %> & <%= link_to 'Nathan', 'https://github.com/NathanHuberty', target: '_blank' %></p>

  <%= link_to 'Contact', 'mailto:nathan@clean.com'%></li>
</div>
