
<div class="banner">
  <div class="container">
    <div class="form-container">
        <%= render 'trips/new', trip: @trip %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <%= render 'trips/index' %>
    <%= render 'projects/index' %>
  </div>
</div>

