<div class="banner" id="trip-form">
  <div class="form-container">
      <%= render 'trips/new', trip: @trip %>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div id="mytrips">
      <%= render 'trips/index' %>
    </div>
    <div id="projects">
      <%= render 'projects/index' %>
    </div>
  </div>
</div>

