<div id="trip-form">
    <%= render 'trips/new', trip: @trip %>
</div>

<div class="wrapper">
  <div class="container">
    <div id="mytrips">
      <%= render 'trips/index' %>
    </div>
    <div class="row" id="projects">
      <%= render 'projects/index' %>
    </div>
  </div>
</div>
