<div class="banner">
  <div class="container">
    <div class="form-container">
      <h1 class="text-center">
        Clean my Footprint
      </h1>
        <%= render 'trips/new', trip: @trip %>
    </div>
  </div>
</div>
