.bootstrap-datetimepicker-widget table  {
    color: #333;
    font-size: 16px;
}

.bootstrap-datetimepicker-widget{
  background-color: rgba(245,245,245,0.95);
  border-radius: 3px;
  max-height: 260px;
  max-width: 260px;
}
