.footer {
  display: flex;
  align-items: center;
  background: $dark_green;
  color: $light-gray;
  flex-wrap: wrap;
  font-size: 14px;
  height: 70px;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 40px;
  a {
    color: inherit;
  }

  p, ul {
    margin: 0;
  }

  li:first-child {
    margin: 0 50px 0 0;
    padding: 0;
  }
}

.footer-display {
  display: flex;
  justify-content: space-around;
}
