.form-container-home {
  background-color: rgba($black, 0.3);
  border-radius: 10px;
  max-width: 500px;
  padding: 10px 20px;
  margin: 0 auto;
}

.form-container {
  background-color: rgba($dark-green, 0.3);
  border-radius: 10px;
  max-width: 500px;
  padding: 10px 20px;
  margin: 0 auto;
}
