.bar-container {
 width: 100%;
}

.bar-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  img {
    width: 30px;
    height: 30px;
  }
}

.bar-background {
  width: 100%;
  height: 25px;
  background-color: $red;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bar-progress {
  position: absolute;
  left: 0px;
  background-color: $dark_green;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level-active {
  border: solid 1px $dark_green;
  border-radius: 5px;
  opacity: 1 !important;
}

.level-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  opacity: 0.5;
  img {
    width: 30px;
    height: 30px;
  }
  p {
    margin: 0;
  }
}

.wrapper-game {
  padding: 10px 10px;
}

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.stats {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}

.profile {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.stats .fa {
  color: #008080;
  font-size: 60px;
}

.infos-profile{
  display: flex;
  justify-content: space-between;
}
