.wrapper {
  background-color: $white;
}
.travels-to-clean {
margin: 50px;

}

.travels-cleaned {
margin: 50px;
}

.travel-infos {
display: flex;
align-items: center;
justify-content: space-around;
}
