.wrapper {
  background-color: $white;
}
.travels{
  margin: 50px;
}

.travel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 10px;
  p {
    color: $white;
    margin: 0;
    padding: 10px 10px;
  }
}
.modal-header {
  display: flex;
justify-content: space-between;
width: 100%;
}
.modal-title {
  flex: 1 0 auto;
}
.travels-to-clean {
  background-color: $red;
  width: 100%;
  height: 100px;
}

.travels-cleaned {
  background-color: $dark_green;
}

.logo-project-list {
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.filter-radio {
  input[type=radio] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
  // input[type=radio] ~ label {
  //   width: calc(100% + 30px);
  // }
  label {
    font-size: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
  }

  input[type=radio] ~ label:before {
      font-family: FontAwesome;
      display: inline-block;
      content: "\f1db";
      letter-spacing: 10px;
      font-size: 10px;
      color: $white;
      margin-left: -15px;
  }

  input[type=radio]:checked ~ label:before {
      content: "\f00c";
      font-size: 10px;
      color: $black;
      letter-spacing: 5px;
  }
}
//
// .rolldown-list {
//   text-align: left;
//   padding: 0;
//   margin: 0;
// }
//
// .rolldown-list li {
//   padding: 1em;
//   margin-bottom: .125em;
//   display: block;
//   list-style: none;
//   text-transform: uppercase;
// }
//
// .rolldown-list li {
//   visibility: hidden;
//   animation: rolldown .7s 1;
//   transform-origin: 50% 0;
//   animation-fill-mode: forwards;
// }
//
// .rolldown-list li:nth-child(2n) {
//   background-color: #444;
// }
//
// .rolldown-list li:nth-child(2n+1) {
//   background-color: #333;
// }
//
// #myList {
//   position: absolute;
//   width: 50%;
//   left: 50%;
//   margin-left: -25%;
// }
//
// #btnReload {
//   float: right;
//   color: #333;
//   background: #ccc;
//   text-transform: uppercase;
//   border: none;
//   padding: .5em 1em;
// }
//
// #btnReload:hover {
//   background: #ddd;
// }
//
// @keyframes rolldown {
//   0% {
//     visibility: visible;
//     transform: rotateX(180deg) perspective(500px);
//   }
//   70% {
//     visibility: visible;
//     transform: rotateX(-20deg);
//   }
//   100% {
//     visibility: visible;
//     transform: rotateX(0deg);
//   }
// }
