.wrapper {
  background-color: $white;
}

.travel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 10px;
  p {
    color: $white;
    margin: 0;
    // padding: 10px 10px;
    font-size: 11px;
    // add if start_address.length < 20 characters font-size.14px  (same for destination_address)
  }
}

.width-red {
  width: 100%;
}

.panel-title > a, {
    color: inherit;
    font-size: 17px;

}
.trips-to {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 56%;
}

.travel-emission {
  // position: absolute;
  // top: 70%;
  // left: 1px;
  font-weight: 700;
}
.trip-to-compensate {
  position: absolute;
  top: 10px;
  left: 20px;
}

.trip-to-compensate-infos {
  // position: absolute;
  // right: 0;
  // top: 40px;
  font-weight: normal;
}

.transport-icon {
  // position: absolute;
  // top: 50%;
  // right: center;
  color: $white;
  font-size: 24px;
}


.modal-header {
  display: flex;
justify-content: space-between;
width: 100%;
}
.modal-body {
  height: 50%;
}
.modal-title {
  flex: 1 0 auto;
}
.travels-to-clean {
  background-color: $red;
  // width: 330px;
  font-size: 35px;
  color: $white;
  height: 121.5px;
  left: 3%;
}

.trash-size {
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 25px;
}
.logo-project-list {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;

}

.filter-radio {
  input[type=radio] {
      // border: 0;
      // clip: rect(0 0 0 0);
      // height: 1px;
      // margin: -1px;
      // overflow: hidden;
      // padding: 0;
      // position: absolute;
      // width: 1px;
      display: none;

  }
  // input[type=radio] ~ label {
  //   width: calc(100% + 30px);
  // }
  label {
    font-size: 30px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
  }

  input[type=radio] ~ label:before {
      // font-family: FontAwesome;
      // display: inline-block;
      // content: "\f1db";
      // letter-spacing: 10px;
      // font-size: 10px;
      // color: $white;
      // margin-left: -15px;
      display: none;
  }

  input[type=radio]:checked ~ label:before {
      content: "\f00c";
      font-size: 10px;
      color: $black;
      letter-spacing: 5px;
  }
}
