
.logo-project-modal {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 10px;
  &.active {
    border: 2px dotted $light_green;
  }
}
.test {
  font-size: 12px;
}

.logo-project-show {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  position: fixed;
  top: 56px;
  left: -8px;
  z-index: 100;
  border: solid 2px $light_green;
}

.bouton-logo {
  border: none;
}

.modal-resize {
    height: 75%;
    top: 15%;
}

.btn-compensation {
  color: $white;
  background-color: $dark_green;
  border-color: $green;
  justify-content: center;
}

.project-label-radio {
  input {
    display: none;
  }
}
