
.logo-project-modal {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 10px;
  &.active {
    border: 2px dashed $green;
  }
}

.logo-project-show {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
  position: fixed;
  top: 50px;
  right: -10px;
  z-index: 100;
}

.bouton-logo {
  border: none;
}

.modal-resize {
  height: 65%;
  top: 25%
}

.btn-compensation {
  color: $white;
  background-color: $dark_green;
  border-color: $green;
  justify-content: center;
}

.project-label-radio {
  input {
    display: none;
  }
}
